body {
	font-family: sans-serif;
	font-size:14px;
}

h1 {
	font-size:24px;
}

h2 {
	font-size:16px;
}

h3 {
	font-size:14px;
	clear:both;
}

#world-container {
	position:relative;
	margin-left:410px;
}

#overlay {
	position:absolute;
	top:0px;
	left:0px;
}

.depth-info {
	padding-top:4px;
	padding-left:200px;
	width: 160px;
}
.depth-label {
	width:120px;
	display:inline-block;
	text-align: right;
}
.text-3d {
	color: #b0b0b0;
	text-shadow: 1px 1px 0px #e7eaea;
}

.info-display {
	float:right;
}

.range-container {
	float:left;
}

.help-image {
	margin-left:8px;
}

#inner-controls {
	padding-top:20px;
	padding-bottom:20px;
	margin:auto;
	width:400px;
}

.control-group {
	background-color:rgb(240, 240, 240);
	margin-bottom:10px;
	width:400px;
	float:left;
}

#leaf-container input {
	width:45px;
	margin-left:10px;
	margin-right:25px;
}
/* for sliders */
.slider {
	padding-top:12px;
	margin-left:10px;
	margin-right:10px;
}

.range-container {
	text-align:left;
	width:205px;
	display:block;
	position:relative;
}

.center-tagline {
	text-align:center;
	font-size:30px;
	padding-bottom:25px;
}

.range {
	border:none;
	height:37px;

}

.slider:before {
	display:block;
	background-image: url('../images/rangeBar.png');
	background-position:0px 10px;
	background-repeat: repeat-x;
	margin-left:9px;
	width:170px;
	height:30px;
	position:relative;
	position:absolute;
	content:"";
}

.range td {
	border:none;
}

.rangeGrip {
	width:10px;
	height:19px;
	cursor:e-resize;
	background-image: url('../images/slider.png');
	z-index:8;
}

.rangeDrag .rangeGrip, .rangeGrip:hover {
	background-position:right;
}

ul.big-list {
	font-size:24px;
}

ul.big-list li {
	padding-bottom:15px;
	padding-top:15px;
	line-height:30px;
}